#body-malla { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  flex-wrap: wrap;
  overflow: auto;
}

#container-malla {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 140px);
}


#MallaSkeleton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }

  & .semester {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1rem 0px;
    background-color: transparent;
    border-radius: 15px;
    width: 110px;

    .title {
      margin-bottom: .6rem;
      font-size: 1.4rem;
    }
  
    .task {
      height: 80px;
      width: 90px;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 9px;
    }
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(0, 0%, 81%);
    }
    100% {
      background-color: hsl(0, 0%, 42%);
    }
  }
}
