.Header {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
}
.HeaderContent {
    background-color: #fff;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #10162f;
    justify-content: space-between;
}
#navigation {
    display: none;
}

.presentation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: inherit;
    width: fit-content;
    padding-right: 60px;
}
#img-container {
    height: inherit;
    float: left;
    width: fit-content;
    margin-left: 5%;
    text-align: center;
}
#img-container a {
    border: 1px solid red;
    text-decoration: none;
}
#img-container img {
    width: fit-content;
    margin: 4px auto;
}
#img-container img:hover { cursor: pointer }
#heading-container {
    height: inherit;
    width: fit-content;
    display: flex;
    text-align: left;
    padding-left: 5%;
}

#heading-container h1 {
    font-family: "Apercu Pro", sans-serif black;
    font-size: 2.8rem;
    font-weight: bold;
    /* color: #10162f; */
    color: #6d6d6d;
    display: flex;
    align-self: center;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#NavBar {
    height: inherit;

    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    font-family: "Suisse Int\'l Mono", monospace;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
.Dropdown {
    box-shadow: none !important;
    background-color: transparent !important;
    font-family: "Suisse Int\'l Mono", monospace !important;
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    text-transform: none !important;
}
#NavBar li {
    list-style: none;
    margin: 0;
}

#NavBar li:focus, #NavBar a:focus, #RightHeader a:focus {
    outline: none;
    border: 1px dashed #10162f;
    border-radius: 5px;
    padding: 5px;
}

#NavBar a, .Dropdown, .aux-li {
    margin-right: 35px !important;
    text-decoration: none !important;
    color: #10162f !important;
    cursor: pointer;
    user-select: none;
}

#NavBar a:hover, .Dropdown:hover, .aux-li:hover { 
    color: #4c2bee !important; 
}



#RightHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: inherit;
    width: fit-content;
    margin-right: 18px;
}
#RightHeader a {
    font-family: "Suisse Int\'l Mono", monospace;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #10162F;
}
#RightHeader a:hover { text-decoration: underline #4c2bee; }
#RightHeader h3 {
    display: flex;
    align-self: flex-end;
    margin-top: 11px;
}
#accordion {
    background-color: #FFF;
    border-radius: 5px;
    height: fit-content;
    width: 95%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #10162f;
}
#accordion ul {
    width: 100%;
    list-style: none;
    padding-left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px 15px;
}
#accordion li {
    margin: 5px 8px;
    padding: 4px;
    user-select: none;
}
#accordion li:hover {
    cursor: pointer;
    text-decoration: underline #4c2bee;
    font-style: none;
}



@media only screen and (max-width: 846px) {
    .presentation {
        position: relative;
        height: inherit;
        width: 85%;
        justify-content: flex-start;
    }
    #NavBar {
        display: none;
    }
    #heading-container { padding-left: 2%; }
    #heading-container h1 {
        font-size: 2.5rem;
    }
    #RightHeader { display: none; }
    #navigation { 
        display: inline-block;
        height: inherit;
    }

    #menu-toggle {
        display: inline-block;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 10;
        -webkit-user-select: none;
        user-select: none;
        transform: scale(0.7);
        margin: auto;
    }
    #menu-toggle a {
        text-decoration: none;
        color: #fff0e5;
        margin: 0;
        transition: color 0.3s ease;
    }
    #menu a:hover { color: #4c2bee; }
    #menu-toggle input {
        position: absolute;
        width: 55px;
        height: 55px;
        top: 15px;
        right: 17px;
        opacity: 0;
        cursor: pointer;
        z-index: 10;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    #menu-toggle span {
        width: 26px;
        height: 3px;
        margin-bottom: 3.5px;
        display: block;
        position: relative;
        top: 40px;
        right: 35px;
        z-index: 9;
        background-color: #10162f;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
    #menu-toggle span:first-child {
        transform-origin: 0% 0;
    }
    #menu-toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menu-toggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(2px, -4px);
    }
    #menu-toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(3px, 4px);
    }
    #menu-toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menu {
        position: absolute;
        height: 130vh;
        width: 60vw;
        top: 0;
        right: -2vw;
        margin: 103px 0 0 -250px;
        padding: 0 50% 20px 50%;
        padding-right: 25px;

        transform: translateX(100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 4;
        border: 1px solid #10162f;
        border-top: none;
    }
    #menu li {
        opacity: 1;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(-10px);
        width: 100%;
        padding: 20px 0px;
        border-bottom: 1px solid #10162f;
        font-size: 1.5rem;
        text-align: right;
    }
    #menu a {
        color: #10162f;
    }
    #menu p {
        color: #172b4d;
        position: absolute;
        top: 17%;
        right: 5%;
        font-size: 0.75rem;
    }
    #menu p:hover { color: #fff0e5; }
    #menu-toggle input:checked ~ ul {
        transform: none;
    }
}
