.Header {
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
}
.HeaderContent {
    display: flex;
    justify-content: space-between;
    height: 75px;
    flex-wrap: wrap;
    border-bottom: 1px solid #10162F;    
}
#navigation {
    display: none;
}

.presentation {
    position: relative;
    height: inherit;
    width: 28%;
    align-items: flex-end;
    text-align: left;

}
#img-container {
    height: inherit;
    float: left;
    width: 15%;
    margin-left: 5%;
    text-align: center;
    
}
#img-container img {
    width: fit-content;
    margin: 4px auto;

}
#heading-container {
    height: inherit;
    width: 70%;
}
.presentation h1 {
    position: relative;
    top: 0;
    left: 85px;
    font-size: 2.5em;
    font-family: "Apercu Pro", sans-serif black;
    font-size: 2.8rem;
    font-weight: bold;
    color: #10162F;
}
.presentation h4 {
    position: relative;
    top: -111px;
    left: 313px;
    font-weight: normal;

}

.RightHeader {
    align-items: flex-end;
    text-align: right;
}

.HeaderContent h1 {
    position: relative;
    top: -62px;
    left: 85px;
}

.HeaderContent h3 {
    margin-top: 11px;
    position: relative;
    top: 3px;
    left: -9px;
}

@media only screen and (max-width: 560px) {
    .Header {
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
    }
    .HeaderContent {
        display: flex;
        justify-content: space-between;
        height: 75px;
        flex-wrap: wrap;
        border-bottom: 1px solid #10162F;    
    }
    #navigation {
        display: inline-block;
    }

    #menu-toggle {
        display: inline-block;
        position: relative;
        top: 27px;
        left: 55%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menu-toggle a {
        text-decoration: none;
        color: #FFF0E5;
        transition: color 0.3s ease;
    }
    #menu-toggle a:hover { color: #FFD300; }
    #menu-toggle input {
        display: block;
        width: 50px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -15px;
        cursor: pointer;        
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menu-toggle span {
        display: block;
        width: 30px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background-color: #10162F;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.55s ease;
    }
    #menu-toggle span:first-child { transform-origin: 0% 0; }
    #menu-toggle span:nth-last-child(2) { transform-origin: 0% 100%; }
    #menu-toggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-1px, 1px);
        background: #FFF0E5;
    }
    #menu-toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menu-toggle input:checked ~ span:nth-last-child(2) { transform: rotate(-45deg) translate(0, -1px); }
    #menu {
        position: absolute;
        width: 65vw;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #10162F;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        border-radius: 10px;
    }
    #menu li {
        padding: 10px 0;
        font-size: 1.2rem;
        text-align: left;
    }
    #menu p {
        color: #172B4D;
        position: absolute;
        top: 17%;
        right: 5%;
        font-size: .75rem;
    }
    #menu p:hover { color: #FFF0E5; }
    #menu-toggle input:checked ~ ul { transform: none; }

    .presentation {
        position: relative;
        height: inherit;
        width: 85%;
        align-items: flex-end;
        text-align: center;
    }
    #img-container {
        display: none;
        height: inherit;
        width: fit-content;
        float: left;
        margin: 0 auto;
        text-align: center;
    }
    #heading-container {
        height: inherit;
        align-items: center;
        width: 100%;
    }
    #heading-container h1 {
        position: relative;
        top: 16.5%;
        left: 5%;
        font-size: 2.5em;
        font-family: "Apercu Pro", sans-serif black;
        font-size: 2.8rem;
        font-weight: bold;
        color: #10162F;
        width: fit-content;
    }
    #heading-container h4 {
        position: absolute;
        width: fit-content;
        font-size: .8rem;
        top: 18px;
        left: 243px;
        font-weight: normal;
    }
    .RightHeader {
        /* Hide all items from this container */
        display: none;
    }
}
