#Main {
	height: 100%;
	width: 90%;
	margin: 76px 0 5% 5%;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#Main .spacer {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 2%;
}

#main-body {
	display: flex;
	font-size: .7rem;
	flex-wrap: wrap;
}
#main-body .first-row {
	height: inherit;
	width: 100%;
	margin-bottom: 10px;
}
#main-body .second-row {
	height: inherit;
	width: 40%;
}

#explore-container {
	margin: 2% 2%;
	display: flex;
}
#explore-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;

}


.window-box {
	width: 465px;
	height: 296px;
	border: 1px solid #10162f;
	color: lightgray;
	margin-right: 4px;
}
.window-box:hover {
	color: #FFD300;
	transition: 350ms ease-in;
}
.img-container {
	height: 87%;
	max-width: 100%;
	background-color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-container img {
	width: 100%;
	cursor: pointer;
}
.img-container p {
	position: absolute;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	color: #10162f !important;
	width: inherit;
	text-shadow: 20px 20px 50px white;
}
.img-container h3, h4 {
	font-family: 'Suisse Int\'l Mono', monospace;
	margin: 0 auto;
}
.img-container h4 {
	font-size: .8rem;
}

.box-content {
	height: 13%;
	width: 100%;
	background-color: #10162f;
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}
.box-content h3 {
	padding-left: 4%;
	color: inherit;
	font-family: 'Suisse Int\'l Mono', monospace;
}



.aux-title {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: fit-content;
	margin: 0;
	margin-bottom: 10px;

	padding: 0;
	user-select: none;
}
.aux-title h1 {
	margin: 0;
	padding: 0;
	margin-left: 4px;
}
.git-branch-svg {
	height: 28px;
	margin: 0;
	padding: 0;
}
#changelogs-error {
	font-size: 1rem;
	margin: 5px 24px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	font-weight: bold;
	color: #707070;
}


.commit {
	height: 75px;
	width: 100%;
	margin: 5px 24px;
	border: 1px solid #D0D7DE;
	border-radius: 9px;
	background-color: #fff;

	display: flex;
	flex-direction: row;
	align-items: center;
}
.profilepic-container {
	height: inherit;
	width: fit-content;
	width: 80px;
	margin-left: 5px;
}
.profilepic-container img {
	height: 100%;
	border-radius: 50%;
	transform: scale(.75);
}

.commit-info {
	display: flex;
	color: #24292F;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	padding-right: 14px;
	height: 35px;
	border-right: 1px solid #D0D7DE;
}
.commit-info ._name {
	color: #707070;
	align-self: center;
	margin: 0;
	padding: 0;
}
.commit-desc {
	margin: 0 13px;
}
.commit-desc ._desc {
	font-size: 1rem;
}

._date {
	width: fit-content;
	margin-left: auto;
	margin-right: 15px;
}
._date h2 {
	font-size: 1rem;
}