#body-malla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    flex-wrap: wrap;
    overflow: auto;
    flex: 100vw;
}
#container-malla {
    display: flex;
}