#body-utilidades {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
    flex-wrap: wrap;
    overflow: auto;
    
    margin: 90px 5% 15px 5%;
    min-height: calc(100vh - 166px);
}




#body-selector {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 15%;
    /* min-height: calc(100vh - 140px); */
    min-height: calc(100vh - 166px);
    background-color: white;
    border: 1px solid #10162F;
}
#body-selector h1 {
    font-size: 1.4rem;

    margin: 5% 10%;
}
#body-selector li {
    /* Remove the list bullets */
    list-style: none;
}
#body-selector #wip {
    color: gray;
    user-select: none;
}

#stage {
    width: 80%;
}