#body-utilidades {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	
	flex-wrap: wrap;
	overflow: auto;
	
	margin: 90px 5% 15px 5%;
	min-height: calc(100vh - 166px);
}




#body-selector {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 17%;
	/* min-height: calc(100vh - 140px); */
	min-height: calc(100vh - 166px);
	background-color: white;
	border: 1px solid #10162F;
}
#body-selector h1 {
	font-size: 1.4rem;
	margin: 5% 10%;
}
#body-selector ul {
	margin: 0;
	padding: 10px 0 0 20px;
}
#body-selector li {
	margin: 12px 0;
	margin-top: 0;
	list-style: none;
}
#body-selector li:focus {
	text-decoration: underline #10162F;
}
#body-selector #wip {
	color: gray;
	user-select: none;
}

#stage {
	width: 80%;
}



/****** Grades weight calculator ******/
.weight-container {
	display: flex;
	flex-direction: column;
}

.w-row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 50%;
	margin: 10px 0;
	transform: scale(.8);
	border: 1px solid #707070;
	border-radius: 5px;
}

.exam-num p {
	font-size: 1.5rem;
	margin: 5px;
}

.exam-num, .weights, .grade {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 0;
}
.weight-input, .grade input {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #10162F;
	border-radius: 8px;
	height: 40px;
	width: fit-content;
	background-color: white;
	margin: 5px 0;
}
.weight-input input {
	width: 30px;
	height: 100%;
	text-align: center;
	border: none;
	background-color: transparent;
	color: #10162F;
	margin-left: 15px;
	font-size: 1.4rem;
	font-weight: 500;
}
.weight-input input:focus, .grade input:focus {
	outline: none;
}
.weight-input p {
	user-select: none;
	margin: 0 6px;
	padding: 0;
	font-weight: 500;
	font-size: 1.2rem;
}

.grade input {
	width: 60px;
	color: #10162F;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
}