.App {
    background-color: #FFF0E5;
    overflow-x: hidden;
}
.App-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.App-title {
    font-family: "Apercu Pro", sans-serif black;
    /* Locate inside the header */


}
.Header {
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
}
.HeaderContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 75px;
    border-bottom: 1px solid #10162F;
    
}
.LeftHeader {
    align-items: flex-end;
    text-align: left;
}
.RightHeader {
    align-items: flex-end;
    text-align: right;
}

.HeaderContent img {
    float: left;
    padding-left: 25px;
    padding-top: 5px;
}
.HeaderContent h1 {
    position: relative;
    top: -62px;
    left: 85px;
}

.HeaderContent h3 {
    margin-top: 11px;
    position: relative;
    top: 3px;
    left: -9px;
}
