.App {
    background-color: #FFF0E5;
    overflow-x: hidden;
}
.App-title {
    font-family: "Apercu Pro", sans-serif black;
    /* Locate inside the header */


}
.App-header{
    background-color: #FFFFFF;
}
.App-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-content {
    flex-direction: row;
    height: 75px;
    border-bottom: 1px solid #10162F;
    
}

.App-logo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.locate {
    margin-left: 6%;
    transform: translate(-50%, 0);
}