* {
  scrollbar-color: #10162F #FFF0E5;
  scrollbar-width: thin;
  
  &::-webkit-scrollbar {
    height: 2px;
    width: 3px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #10162F;
    border-radius: 10px;
    border: transparent;
  }
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 78px !important;
}

#UdeCursos {
  background-color: #FFF0E5;
  box-sizing: border-box;
}
